body{
    counter-reset: game;
}
input:checked{
    counter-increment: game;
}
.total-count::after{
    content:counter(game)
}

/* counter-reset: Crea o reinicia un contador.
counter-increment: Incrementa un valor del contador.
content: Inserta el contenido generado (debe usarse con un pseudoelemento).
counter(): Función que agrega el valor de un contador a un elemento. */